.dope {
  width: 420px;
  margin: 10% auto 0 auto;
}
  .dope header {
    padding-bottom: 15px;
  }
    .dope header h1 {
      margin: 0;
      padding: 0;
      color: #333;
      font-size: 28px;
    }
      .dope header h1 small {
        display: block;
        font-size: 60%;
        min-width: 300px;
        font-weight: 300;
      }

.dope main {
  border-radius: 3px;
  position: relative;
  background: white;
  box-sizing: border-box;
  padding: 40px 40px 60px 40px;
  box-shadow: 0 2px 5px #999;
}
  /* Questions */
  main.question {}
    .question-counter {
      top: 15px;
      right: 20px;
      color: #ccc;
      position: absolute;
      text-align: center;
    }
    h2.question-text,
    h2.result-answer {
      margin: 0;
      padding: 0;
      height: 180px;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      padding: 30px 0 60px 0;
    }
    .question-answer {
      display: grid;
      grid-template-columns: 50% 50%;
    }
      .question-answer button {
        width: 80%;
        margin: 0 auto;
        text-transform: uppercase;
      }
  /* /Questions */
  /* Result */
  main.result {
    padding: 40px 40px 20px 40px;
  }
    h2.result-answer {
      height: auto;
      padding-bottom: 60px;
    }
      h2.result-answer span {
        font-weight: 500;
      }
    h5.result-label {
      margin: 0;
      color: #999;
      font-size: 60%;
      font-weight: 300;
      letter-spacing: 0.1em;
      padding: 0 0 10px 20px;
      text-transform: uppercase;
    }
    ul.result-description {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
      ul.result-description li {
        padding: 0;
        margin: 0 0 15px 0;
        border-radius: 3px;
        background: #fafafa;
        padding: 10px 10px 0 10px;
      }
        ul.result-description li h3 {
          margin: 0;
          color: #4d4d4d;
          cursor: pointer;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.02em;
          padding: 10px 0 10px 10px;
          text-transform: uppercase;
          border-bottom: 1px solid #ffffff;
        }
          ul.result-description li h3 i {
            float: right;
            color: #999;
            line-height: 20px;
            margin-right: 10px;
          }
            ul.result-description li.active h3 i {
              color: #808080;
            }
        ul.result-description li p {
          margin: 0;
          padding: 0;
          font-size: 15px;
          line-height: 1.9em;
          font-style: italic;
          padding: 10px 15px 20px 15px;
          font-family: 'Merriweather', serif;
        }
    /* Play again */
    .result-repeat {
      margin-top: 10px;
      text-align: center;
    }
      .result-repeat button i {
        padding: 0 10px 0 0;
      }
    /* TODO Share result */
  /* Result */

.dope footer {
  color: #666;
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 440px) {
  .dope {
    width: 90%;
    min-width: 300px;
    margin: 20px auto;
  }
  .dope main {
    padding: 40px 10px 60px 10px;
  }
  h2.question-text {
    font-size: 24px;
  }
}